---
title: Tags
layout: default
description: "Keep Learning"
header-img: "img/flowers/tags.jpg"
---

<header class="intro-header intro-header-full" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container tag-page-container">
	<div class="row">
		{% include tag-tree-nav.html %}
		<div class="col-lg-9 col-md-8 tag-main">
			<div id="tag_cloud" class="tags tag-cloud-chips">
				{% assign article_pages = site.posts %}
				{% for tag_name in site.tag_list %}
					{% assign count = 0 %}
					{% for a in article_pages %}{% if a.tags contains tag_name %}{% assign count = count | plus: 1 %}{% endif %}{% endfor %}
				<a href="#tag-{{ forloop.index }}" title="{{ tag_name }}" rel="{{ count }}">{{ tag_name }} ({{ count }})</a>
				{% endfor %}
			</div>

			{% for tag_name in site.tag_list %}
			<div class="one-tag-list" id="tag-{{ forloop.index }}">
				<h2 class="tag-section-heading">
					<span class="fa fa-tag listing-seperator"></span>
					<span class="tag-text">{{ tag_name }}</span>
				</h2>
				<div class="tag-posts-grid">
					{% for post in article_pages %}
						{% if post.tags contains tag_name %}
					<article class="tag-post-card">
						<a href="{{ post.url | prepend: site.baseurl }}" class="tag-post-card-link">
							<h3 class="tag-post-card-title">{{ post.title }}</h3>
							{% if post.subtitle %}
							<p class="tag-post-card-subtitle">{{ post.subtitle }}</p>
							{% endif %}
							<p class="tag-post-card-meta">{{ post.date | date: "%Y-%m-%d" }}</p>
						</a>
					</article>
						{% endif %}
					{% endfor %}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
